.listen {
    width: 300px;
    height: auto;
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 250px;
    background-color: rgb(27, 186, 221);
}

.deleteBtn{
    display: flex;
   justify-content: center;
   align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    
}
.deleteBtn:hover{
    transform: scale3d(1.4,1.4,1.4);
}
.listen button {
    cursor: pointer;
    width: 90px;
    font-size: 17px;
    border: none;
    background-color: rgba(46, 25, 163, 0.449);
    color: #ffeedb;
    padding: 7px;
    margin-left: 23px;
    margin-top: 10px;
    margin-bottom: 25px;
}

.listen input {
    font-size: 17px;
    width: 250px;
    height: 30px;
    margin-left: 23px;
    margin-top: 30px;
}
ul{
    margin-top: 20px;
    margin-left: 40px;
 list-style-type: style;
 display: flex;
 flex-direction: column;
/* align-items: center; */
justify-content: center;
height: auto;
}
li{
    margin-top: 5px;
    /* width: 100px; */
    width: 200px;
    font-size: 18px;
    font-weight:900;
    
}
.saveBtn:hover{
    background-color: aqua;
    color: black    ;
}